## Cleaning of data

The city and date indicators can be removed as they will not affect our prediction as we will be focusing on the environmental and climate data.

Also, reanalysis data provides the most complete picture currently possible of past weather and climate [(ECMWF, 2020)](https://www.ecmwf.int/en/about/media-centre/focus/2020/fact-sheet-reanalysis#:~:text=Reanalysis%20data%20provide%20the%20most,as%20'maps%20without%20gaps'.). Thus, we will focus on the reanalysis data.

Lastly, some columns are provide similar information and may interfere with prediction, so we dropped those columns as well. (eg. we dropped min and max air temp and are using average temp).

In [1]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
sb.set()

In [2]:
# importing features
features_df = pd.read_csv("dengue_features_train.csv")
features_df.head()

,city,year,weekofyear,week_start_date,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,...,reanalysis_precip_amt_kg_per_m2,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm
0,sj,1990,18,1990-04-30,0.122600,0.103725,0.198483,0.177617,12.42,297.572857,...,32.00,73.365714,12.42,14.012857,2.628571,25.442857,6.900000,29.4,20.0,16.0
1,sj,1990,19,1990-05-07,0.169900,0.142175,0.162357,0.155486,22.82,298.211429,...,17.94,77.368571,22.82,15.372857,2.371429,26.714286,6.371429,31.7,22.2,8.6
2,sj,1990,20,1990-05-14,0.032250,0.172967,0.157200,0.170843,34.54,298.781429,...,26.10,82.052857,34.54,16.848571,2.300000,26.714286,6.485714,32.2,22.8,41.4
3,sj,1990,21,1990-05-21,0.128633,0.245067,0.227557,0.235886,15.36,298.987143,...,13.90,80.337143,15.36,16.672857,2.428571,27.471429,6.771429,33.3,23.3,4.0
4,sj,1990,22,1990-05-28,0.196200,0.262200,0.251200,0.247340,7.52,299.518571,...,12.20,80.460000,7.52,17.210000,3.014286,28.942857,9.371429,35.0,23.9,5.8

In [3]:
# importing labels and removing repeat columns
labels_df = pd.read_csv("dengue_labels_train.csv")
labels_df = labels_df.drop(columns = ['city', 'year', 'weekofyear'])
labels_df.head()

   total_cases
0            4
1            5
2            4
3            3
4            6

In [4]:
# combining features and labels
all_data = pd.concat([features_df, labels_df], axis = 1)
all_data

,city,year,weekofyear,week_start_date,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,...,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm,total_cases
0,sj,1990,18,1990-04-30,0.122600,0.103725,0.198483,0.177617,12.42,297.572857,...,73.365714,12.42,14.012857,2.628571,25.442857,6.900000,29.4,20.0,16.0,4
1,sj,1990,19,1990-05-07,0.169900,0.142175,0.162357,0.155486,22.82,298.211429,...,77.368571,22.82,15.372857,2.371429,26.714286,6.371429,31.7,22.2,8.6,5
2,sj,1990,20,1990-05-14,0.032250,0.172967,0.157200,0.170843,34.54,298.781429,...,82.052857,34.54,16.848571,2.300000,26.714286,6.485714,32.2,22.8,41.4,4
3,sj,1990,21,1990-05-21,0.128633,0.245067,0.227557,0.235886,15.36,298.987143,...,80.337143,15.36,16.672857,2.428571,27.471429,6.771429,33.3,23.3,4.0,3
4,sj,1990,22,1990-05-28,0.196200,0.262200,0.251200,0.247340,7.52,299.518571,...,80.460000,7.52,17.210000,3.014286,28.942857,9.371429,35.0,23.9,5.8,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1451,iq,2010,21,2010-05-28,0.342750,0.318900,0.256343,0.292514,55.30,299.334286,...,88.765714,55.30,18.485714,9.800000,28.633333,11.933333,35.4,22.4,27.0,5
1452,iq,2010,22,2010-06-04,0.160157,0.160371,0.136043,0.225657,86.47,298.330000,...,91.600000,86.47,18.070000,7.471429,27.433333,10.500000,34.7,21.7,36.6,8
1453,iq,2010,23,2010-06-11,0.247057,0.146057,0.250357,0.233714,58.94,296.598571,...,94.280000,58.94,17.008571,7.500000,24.400000,6.900000,32.2,19.2,7.4,1
1454,iq,2010,24,2010-06-18,0.333914,0.245771,0.278886,0.325486,59.67,296.345714,...,94.660000,59.67,16.815714,7.871429,25.433333,8.733333,31.2,21.0,16.0,1
1455,iq,2010,25,2010-06-25,0.298186,0.232971,0.274214,0.315757,63.22,298.097143,...,89.082857,63.22,17.355714,11.014286,27.475000,9.900000,33.7,22.2,20.4,4

In [5]:
impt_data = all_data.drop(columns = ["city", "year", "weekofyear", "week_start_date", 
                                        "reanalysis_max_air_temp_k", "reanalysis_min_air_temp_k",
                                        "station_avg_temp_c", "station_diur_temp_rng_c", 
                                        "station_max_temp_c", "station_min_temp_c", "station_precip_mm"])
impt_data.head()

,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,reanalysis_avg_temp_k,reanalysis_dew_point_temp_k,reanalysis_precip_amt_kg_per_m2,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,total_cases
0,0.122600,0.103725,0.198483,0.177617,12.42,297.572857,297.742857,292.414286,32.00,73.365714,12.42,14.012857,2.628571,4
1,0.169900,0.142175,0.162357,0.155486,22.82,298.211429,298.442857,293.951429,17.94,77.368571,22.82,15.372857,2.371429,5
2,0.032250,0.172967,0.157200,0.170843,34.54,298.781429,298.878571,295.434286,26.10,82.052857,34.54,16.848571,2.300000,4
3,0.128633,0.245067,0.227557,0.235886,15.36,298.987143,299.228571,295.310000,13.90,80.337143,15.36,16.672857,2.428571,3
4,0.196200,0.262200,0.251200,0.247340,7.52,299.518571,299.664286,295.821429,12.20,80.460000,7.52,17.210000,3.014286,6

### Null values
Since we know that there are null values in the data, let's find out more and decide how to handle the null values

Checking if there are any null values in columns and if so, the sum of the null values in each column

In [6]:
impt_data.isnull().sum()

ndvi_ne                                  194
ndvi_nw                                   52
ndvi_se                                   22
ndvi_sw                                   22
precipitation_amt_mm                      13
reanalysis_air_temp_k                     10
reanalysis_avg_temp_k                     10
reanalysis_dew_point_temp_k               10
reanalysis_precip_amt_kg_per_m2           10
reanalysis_relative_humidity_percent      10
reanalysis_sat_precip_amt_mm              13
reanalysis_specific_humidity_g_per_kg     10
reanalysis_tdtr_k                         10
total_cases                                0
dtype: int64

From this information, we can see that "ndvi_ne" has a large amount of null values, almost **200**, while the others only have a relatively small number

However, the number of null values of "ndvi_ne" is at an acceptable range at around 13%. Thus, we can fill in the missing values.

### Temperature variables

For the temperature variables, we will be using interpolation to fill in the values. 

This is as the data ranges across the weeks of the year and different months would have different range of temperatures. Thus, it would be more apt to use that instead of the mean or median of the temp over the whole period of time.

In [7]:
temp_data = impt_data[ ['reanalysis_air_temp_k', 'reanalysis_avg_temp_k',
                        'reanalysis_dew_point_temp_k', 'reanalysis_tdtr_k'] ]
temp_data.head()

,reanalysis_air_temp_k,reanalysis_avg_temp_k,reanalysis_dew_point_temp_k,reanalysis_tdtr_k
0,297.572857,297.742857,292.414286,2.628571
1,298.211429,298.442857,293.951429,2.371429
2,298.781429,298.878571,295.434286,2.300000
3,298.987143,299.228571,295.310000,2.428571
4,299.518571,299.664286,295.821429,3.014286

In [8]:
temp_data = temp_data.interpolate()

In [9]:
temp_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1456 entries, 0 to 1455
Data columns (total 4 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   reanalysis_air_temp_k        1456 non-null   float64
 1   reanalysis_avg_temp_k        1456 non-null   float64
 2   reanalysis_dew_point_temp_k  1456 non-null   float64
 3   reanalysis_tdtr_k            1456 non-null   float64
dtypes: float64(4)
memory usage: 45.6 KB

### Other variables

Finding the number of outliers for the different columns to determine if **mean** or **median** more appropriate to be used to fill in the other null values.

In [10]:
impt_data = impt_data.drop(columns = ['reanalysis_air_temp_k', 'reanalysis_avg_temp_k',
                        'reanalysis_dew_point_temp_k', 'reanalysis_tdtr_k'])
impt_data.head()

,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_precip_amt_kg_per_m2,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,total_cases
0,0.122600,0.103725,0.198483,0.177617,12.42,32.00,73.365714,12.42,14.012857,4
1,0.169900,0.142175,0.162357,0.155486,22.82,17.94,77.368571,22.82,15.372857,5
2,0.032250,0.172967,0.157200,0.170843,34.54,26.10,82.052857,34.54,16.848571,4
3,0.128633,0.245067,0.227557,0.235886,15.36,13.90,80.337143,15.36,16.672857,3
4,0.196200,0.262200,0.251200,0.247340,7.52,12.20,80.460000,7.52,17.210000,6

In [11]:
Q1 = impt_data.quantile(0.25)
Q3 = impt_data.quantile(0.75)
IQR = Q3 - Q1

In [12]:
print("No. of outliers in columns: \n")
((impt_data < (Q1 - 1.5 * IQR)) | (impt_data > (Q3 + 1.5 * IQR))).sum()

No. of outliers in columns:

ndvi_ne                                    7
ndvi_nw                                    5
ndvi_se                                   22
ndvi_sw                                   33
precipitation_amt_mm                      24
reanalysis_precip_amt_kg_per_m2           87
reanalysis_relative_humidity_percent       2
reanalysis_sat_precip_amt_mm              24
reanalysis_specific_humidity_g_per_kg      1
total_cases                              124
dtype: int64

Since there are quite a few outliers in the columns, we will use **median** to fill the null values

In [13]:
# replacing null values with the mean of the column 
# since only variable columns have null values can use this method to replace
for i in impt_data:
  if impt_data[i].isnull().sum() != 0:
    impt_data[i] = impt_data[i].replace(np.NaN, impt_data[i].median())

In [14]:
# checking if all rows are non-null
impt_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1456 entries, 0 to 1455
Data columns (total 10 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   ndvi_ne                                1456 non-null   float64
 1   ndvi_nw                                1456 non-null   float64
 2   ndvi_se                                1456 non-null   float64
 3   ndvi_sw                                1456 non-null   float64
 4   precipitation_amt_mm                   1456 non-null   float64
 5   reanalysis_precip_amt_kg_per_m2        1456 non-null   float64
 6   reanalysis_relative_humidity_percent   1456 non-null   float64
 7   reanalysis_sat_precip_amt_mm           1456 non-null   float64
 8   reanalysis_specific_humidity_g_per_kg  1456 non-null   float64
 9   total_cases                            1456 non-null   int64
dtypes: float64(9), int64(1)
memory usage: 113.9 KB

In [15]:
cleaned_data = pd.concat([impt_data, temp_data], axis = 1)
cleaned_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1456 entries, 0 to 1455
Data columns (total 14 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   ndvi_ne                                1456 non-null   float64
 1   ndvi_nw                                1456 non-null   float64
 2   ndvi_se                                1456 non-null   float64
 3   ndvi_sw                                1456 non-null   float64
 4   precipitation_amt_mm                   1456 non-null   float64
 5   reanalysis_precip_amt_kg_per_m2        1456 non-null   float64
 6   reanalysis_relative_humidity_percent   1456 non-null   float64
 7   reanalysis_sat_precip_amt_mm           1456 non-null   float64
 8   reanalysis_specific_humidity_g_per_kg  1456 non-null   float64
 9   total_cases                            1456 non-null   int64
 10  reanalysis_air_temp_k                  1456 non-null   float64
 11  reanalysis_avg_temp_k                  1456 non-null   float64
 12  reanalysis_dew_point_temp_k            1456 non-null   float64
 13  reanalysis_tdtr_k                      1456 non-null   float64
dtypes: float64(13), int64(1)
memory usage: 159.4 KB

### Splitting data into variables and total cases

In [16]:
# import train test split function
from sklearn.model_selection import train_test_split

cases = pd.DataFrame(cleaned_data['total_cases'])
cleaned_data = cleaned_data.drop(columns= ['total_cases'])